{{> head }}


    
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Dragon Ball</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat ullam beatae delectus officia. Beatae, commodi!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/Dragon-Ball-Goku.jpg" class="img-fluid">
    </div>
</div>

{{> footer }}